.my-button {
    padding: 10px 20px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    text-decoration: underline;
    /* Center the button horizontally */
    margin: 0 auto;
    display: block;
  }

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
  
.container {
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    max-width: 800px; /* Adjust the max-width as needed */
    margin: 0 auto; /* Center container horizontally */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ecbfbf;
    margin: 50px auto;
    margin-top: 18px;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-items: flex-start;
}

.text {
    flex: 1;
    padding-right: 20px; /* Add some space between text and image */
    align-items: flex-start;
    
}



