body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(228, 167, 178);
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ecbfbf;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 70px;
}

form {
    display: flex;
    flex-direction: column;
}

input[type=text], input[type=email], textarea {
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

input[type=submit] {
    margin: 10px 0;
    padding: 10px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}