
.wrapper {
    display: flex;
    position: relative;
}

.wrapper .sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    background: rgb(202, 150, 178);;
    padding: 30px 0;
}

.wrapper .sidebar h2{
    color: #290222;
    text-transform: uppercase;
    
    margin-bottom: 30px;
}

.wrapper .sidebar ul li {
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(225, 225, 225, 0.05);
}

.wrapper .sidebar ul li a{
    color: #290222;
    display: block;
}

.wrapper .sidebar ul li a .fas {
    width: 25px;
}

.wrapper .sidebar ul li:hover {
    background: #f3a1a1;
}

.wrapper .sidebar ul li:hover a{
    color: #f7f1f1;
}