body {
    background-color: rgb(228, 167, 178);
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 10px;
    background-color: #e69595;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 25px;
}